--extra-index-url https://download.pytorch.org/whl/cu128
torch>2.5.9
torchaudio>2.5.9
torchmetrics
torchsde
torchvision>0.21.0
accelerate
einops
huggingface-hub
matplotlib
numpy>1.26.3
opencv-python
opencv-python-headless
peft
pillow
safetensors
sentencepiece
transformers
pytorch-lightning
imageio
imageio-ffmpeg
protobuf
ftfy
pandas
tqdm
datasets
